/* Footer Styling */
footer {
    background-color: #1D3557; 
    color: #ffffff;
    padding: 20px 0;
    font-size: 0.9rem;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    position: sticky;
}

/* Custom class for LEGAL outcome */
.custom-legal {
    background-color: #1D3557;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Custom class for ILLEGAL outcome */
.custom-illegal {
    background-color: #E63946;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.custom-button {
    background-color: #1D3557;
    color: white;
}

.card-body {
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: space-between; /* Space items evenly */
    height: 100%; /* Ensure the card body takes full height */
}